.hero-container {
    display: flex;
    justify-content:center;
    align-items: center;
    gap:3rem;
    height:80vh;
}
.hero-text {
    margin-left:2rem;
}
.hero-text h1,h2 {
    margin:1rem 0rem;
}
.hero-text h1 {
    text-transform: uppercase;
    font-size: 3rem;
}
.hero-text span {
    color:#57C5B6;
    font-weight: bold;
}
.hero-text p {
    font-size:1.2rem;
    margin:0.5rem 0rem;
    line-height: 35px;
}
.hero-image img {
    height:600px;
}
.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-container h1 {
    font-size:2rem;
    margin:2rem 0rem;
}
.news-main-header {
    display: flex;
    align-items: center;
    gap:2rem;
    margin-bottom:1rem;
    width:400px;
}
.news-main-header h2 {
    margin:0;
}
.news-main-content {
    width: 500px;
}
.news-main-container {
    display: flex;
    gap:1rem;
    align-items: center;
    justify-content: center;
    width:900px;
    margin-bottom:5rem;
}
.news-main-image img{
    width:400px;
    border-radius: 12px;
}
@media(max-width:1378px) {
    .hero-image img {
        height:400px;
    }
    .hero-text h1 {
        font-size:2.5rem;
    }
}
@media(max-width:1056px) {
    .news-main-container {
        display: flex;
        gap:1rem;
        align-items: center;
        flex-direction: column;
        margin-bottom:3rem;
        width:100%;
    }
    .hero-text {
        margin:0rem 1rem;
    }
    .hero-text h1 {
        font-size:2.3rem;
    }
    .hero-text p {
        font-size:1rem;
    }
    .hero-image img {
        height:350px;
    }
}
@media(max-width:939px){
    .hero-container {
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }
}
@media(max-width:569px) {
    .news-main-content {
        width: 80%;
        margin:0 auto;
    }
    .news-main-image img{
        width: 300px;
    }
}
@media(max-width:450px){
    .news-main-image img{
        width:300px;
        border-radius: 12px;
    }
    .news-main-header {
        flex-direction: column;
        gap:0;
        width: auto;
    }
    .news-main-header p {
        text-align: center;
    }
    .hero-image img {
        height:300px;
    }
}
@media(max-height:858px){
    .hero-container{
        margin:3rem 0rem;
        height: 100%;
    }
}