.contact-container {
    background: #394867;
    color:white;
    text-align: center;
    padding:1rem 0rem;
    margin-top:3rem;
}
.contact-container h1 {
    font-size: 2rem;
}
.contact-box-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:2.5rem;
}
.contact-box {
    margin-bottom: 1rem;
}
.contact-container a {
    text-decoration: none;
    color:#57C5B6;
}
@media(max-width:953px) {
    .contact-box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap:2rem;
        margin-top:2rem;
    }
}
